# 10 minutes to pandas

In [1]:
import numpy as np
import pandas as pd

Object creation

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:

In [3]:
dates = pd.date_range("20130101", periods=6)
print(dates)

df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
print(df)

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')
                   A         B         C         D
2013-01-01 -0.153787  1.694686 -0.013721 -1.269276
2013-01-02 -1.153048  0.302881  0.422382 -1.232854
2013-01-03  0.134113  0.764978 -0.004181  0.029477
2013-01-04  0.479031 -0.030983  1.204419  0.756771
2013-01-05  0.311645 -0.141092  0.282549 -0.780742
2013-01-06  0.893322  0.248388 -0.999868  1.226034

Creating a DataFrame by passing a dictionary of objects that can be converted into a series-like structure

In [4]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [ ]:
df2.dtypes

Viewing data

In [ ]:
print(df.head())
print(df.tail())

Display the index, columns:

In [ ]:
df.index

Please note NumPy arrays have one dtype for the entire array, while pandas DataFrames have one dtype per column,When you call DataFrame.to_numpy(), pandas will find the NumPy dtype that can hold all of the dtypes in the DataFrame. This may end up being object, which requires casting every value to a Python object.

In [ ]:
df.to_numpy()

In [ ]:
print(type(df.to_numpy()))

In [ ]:
df.dtypes

For df2, the DataFrame with multiple dtypes, DataFrame.to_numpy() is relatively expensive:

In [ ]:
df2.to_numpy()


DataFrame.to_numpy() does not include the index or column labels in the output.

In [ ]:
df.describe()

In [ ]:
df.T

Sorting by an axis:

In [ ]:
df.sort_index(axis=1, ascending=False)

Sorting by values:

In [ ]:
df.sort_values(by="B")

Selection

While standard Python / NumPy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.

Selecting a single column, which yields a Series, equivalent to df.A:

In [ ]:
df["A"]

Selecting via [], which slices the rows:

In [ ]:
df[0:3]

df["20130102":"20130104"]

Selection by label

In [ ]:
df.loc[dates[0]]

Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ["A", "B"]]

Showing label slicing, both endpoints are included:

In [ ]:
df.loc["20130102":"20130104", ["A", "B"]]

Reduction in the dimensions of the returned object:

In [ ]:
df.loc["20130102", ["A", "B"]]

For getting a scalar value:

In [ ]:
df.loc[dates[0], "A"]

In [ ]:
df.at[dates[0], "A"]

Selection by position

In [ ]:
df.iloc[3]

In [ ]:
df.iloc[3:5, 0:2]

In [ ]:
df.iloc[[1, 2, 4], [0, 2]]

For slicing rows explicitly:

In [ ]:
df.iloc[1:3, :]

For slicing columns explicitly:

In [ ]:
df.iloc[:, 1:3]

For getting a value explicitly:

In [ ]:
df.iloc[1, 1]

In [ ]:
df.iat[1, 1]

Boolean indexing

In [ ]:
df[df["A"] > 0]

Selecting values from a DataFrame where a boolean condition is met:

In [ ]:
df[df > 0]

Using the isin() method for filtering:

In [ ]:
df2 = df.copy()

In [ ]:
df2["E"] = ["one", "one", "two", "three", "four", "three"]

In [ ]:
df2

In [ ]:
df2[df2["E"].isin(["two", "four"])]

Setting

Setting a new column automatically aligns the data by the indexes:

In [ ]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

In [ ]:
s1

In [ ]:
df["F"] = s1

Setting values by label:

In [ ]:
df.at[dates[0], "A"] = 0

Setting values by position:

In [ ]:
df.iat[0, 1] = 0

Setting by assigning with a NumPy array:

In [ ]:
df.loc[:, "D"] = np.array([5] * len(df))

The result of the prior setting operations:

In [ ]:
df

A where operation with setting:

In [ ]:
df2 = df.copy()

df2[df2 > 0] = -df2

df2

Missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations. See the Missing Data section.

Reindexing allows you to change/add/delete the index on a specified axis. This returns a copy of the data:

In [ ]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

df1.loc[dates[0] : dates[1], "E"] = 1

df1

To drop any rows that have missing data:

In [ ]:
df1.dropna(how="any")

Filling missing data:

In [ ]:
df1.fillna(value=5)

To get the boolean mask where values are nan:

In [ ]:
pd.isna(df1)

Statsistics

In [ ]:
df.mean()

Same operation on the other axis:

In [ ]:
df.mean(1)

Operating with objects that have different dimensionality and need alignment. In addition, pandas automatically broadcasts along the specified dimension:

In [ ]:
pd.Series([1, 3, 5, np.nan, 6, 8], index=dates).shift(2)

In [ ]:
s

In [ ]:
df.sub(s, axis="index")

Apply

Applying functions to the data:

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

Histogramming

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

String Methods

Series is equipped with a set of string processing methods in the str attribute that make it easy to operate on each element of the array, as in the code snippet below. Note that pattern-matching in str generally uses regular expressions by default (and in some cases always uses them). See more at Vectorized String Methods.

In [ ]:
s = pd.Series(["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"])

s.str.lower()

Merge

Concat - pandas provides various facilities for easily combining together Series and DataFrame objects with various kinds of set logic for the indexes and relational algebra functionality in the case of join / merge-type operations.

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))

df

In [ ]:
# break it into pieces
pieces = [df[:3], df[3:7], df[7:]]

In [ ]:
pd.concat(pieces)

Join

SQL style merges

In [ ]:
left = pd.DataFrame({"key": ["foo", "foo"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "foo"], "rval": [4, 5]})

print(left)

print(right)

pd.merge(left, right, on="key")

In [ ]:
left = pd.DataFrame({"key": ["foo", "bar"], "lval": [1, 2]})

right = pd.DataFrame({"key": ["foo", "bar"], "rval": [4, 5]})

print(left)
print(right)

pd.merge(left, right, on="key")

Grouping

By “group by” we are referring to a process involving one or more of the following steps:

** Splitting the data into groups based on some criteria

** Applying a function to each group independently

** Combining the results into a data structure

In [ ]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar", "foo", "foo"],
        "B": ["one", "one", "two", "three", "two", "two", "one", "three"],
        "C": np.random.randn(8),
        "D": np.random.randn(8),
    }
)


df

Grouping and then applying the sum() function to the resulting groups:

In [ ]:
df.groupby("A").sum()

Grouping by multiple columns forms a hierarchical index, and again we can apply the sum() function

In [ ]:
df.groupby(["A", "B"]).sum()

Reshaping

Stack

In [ ]:
tuples = list(
    zip(
        *[
            ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],
            ["one", "two", "one", "two", "one", "two", "one", "two"],
        ]
    )
)


index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=["A", "B"])

df2 = df[:4]

df2

The stack() method “compresses” a level in the DataFrame’s columns:

In [ ]:
stacked = df2.stack()
stacked

With a “stacked” DataFrame or Series (having a MultiIndex as the index), the inverse operation of stack() is unstack(), which by default unstacks the last level:

In [ ]:
stacked.unstack()

In [ ]:
stacked.unstack(1)

In [ ]:
stacked.unstack(0)

Pivot tables

In [ ]:
df = pd.DataFrame(
    {
        "A": ["one", "one", "two", "three"] * 3,
        "B": ["A", "B", "C"] * 4,
        "C": ["foo", "foo", "foo", "bar", "bar", "bar"] * 2,
        "D": np.random.randn(12),
        "E": np.random.randn(12),
    }
)


df

We can produce pivot tables from this data very easily:

In [ ]:
pd.pivot_table(df, values="D", index=["A", "B"], columns=["C"])

Time series

In [ ]:
rng = pd.date_range("1/1/2012", periods=100, freq="S")

ts = pd.Series(np.random.randint(0, 500, len(rng)), index=rng)

ts.resample("5Min").sum()

Time zone representation:

In [ ]:
rng = pd.date_range("3/6/2012 00:00", periods=5, freq="D")

ts = pd.Series(np.random.randn(len(rng)), rng)

ts

In [ ]:
ts_utc = ts.tz_localize("UTC")

ts_utc

Converting to another time zone:

In [ ]:
ts_utc.tz_convert("US/Eastern")

Converting between time span representations:

In [ ]:
rng = pd.date_range("1/1/2012", periods=5, freq="M")

ts = pd.Series(np.random.randn(len(rng)), index=rng)

ts

In [ ]:
ps = ts.to_period()

ps

In [ ]:
ps.to_timestamp()

Converting between period and timestamp enables some convenient arithmetic functions to be used. In the following example, we convert a quarterly frequency with year ending in November to 9am of the end of the month following the quarter end:

In [ ]:
prng = pd.period_range("1990Q1", "2000Q4", freq="Q-NOV")

ts = pd.Series(np.random.randn(len(prng)), prng)

ts.index = (prng.asfreq("M", "e") + 1).asfreq("H", "s") + 9

ts.head()

Categoricals - pandas can include categorical data in a DataFrame. For full docs, see the categorical introduction and the API documentation.

In [ ]:
df = pd.DataFrame(
    {"id": [1, 2, 3, 4, 5, 6], "raw_grade": ["a", "b", "b", "a", "a", "e"]}
)

In [ ]:
df["grade"] = df["raw_grade"].astype("category")

df["grade"]

Rename the categories to more meaningful names (assigning to Series.cat.categories() is in place!):

In [ ]:
df["grade"].cat.categories = ["very good", "good", "very bad"]

Reorder the categories and simultaneously add the missing categories (methods under Series.cat() return a new Series by default):

In [ ]:
df["grade"] = df["grade"].cat.set_categories(
    ["very bad", "bad", "medium", "good", "very good"]
)


df["grade"]

Sorting is per order in the categories, not lexical order:

In [ ]:
df.sort_values(by="grade")

In [ ]:
df.groupby("grade").size()

Plotting from pandas data

In [ ]:
import matplotlib.pyplot as plt
plt.close("all")

ts = pd.Series(np.random.randn(1000), index=pd.date_range("1/1/2000", periods=1000))

ts = ts.cumsum()

ts.plot();

plt.show();

In [ ]:
df = pd.DataFrame(
    np.random.randn(1000, 4), index=ts.index, columns=["A", "B", "C", "D"]
)


df = df.cumsum()

plt.figure();

df.plot();

plt.legend(loc='best');

data in/out

Writing to a csv file:

In [ ]:
df.to_csv("foo.csv")

Reading from a csv file:

In [ ]:
pd.read_csv("foo.csv")

HDF5- Reading and writing to HDFStores.

Writing to a HDF5 Store:

In [ ]:
df.to_hdf("foo.h5", "df")

In [ ]:
pd.read_hdf("foo.h5", "df")

Excel- Reading and writing to MS Excel.

In [ ]:
df.to_excel("foo.xlsx", sheet_name="Sheet1")

In [ ]:
pd.read_excel("foo.xlsx", "Sheet1", index_col=None, na_values=["NA"])